In [1]:
### Requête 1 proportion de personnes en état de sous-nutrition

In [1]:
#importation des librairies 
import pandas as pd
import numpy as np

SyntaxError: invalid syntax (1403991817.py, line 4)

In [3]:
#importation des données
df_population = pd.read_csv ('population.csv')
df_sous_nutrition = pd.read_csv ('sous_nutrition.csv')
df_dispo_alimentaire = pd.read_csv ('dispo_alimentaire.csv')
df_aide_alimentaire = pd.read_csv ('aide_alimentaire.csv')

In [4]:
df_sous_nutrition.loc[df_sous_nutrition['Zone'] == "Afghanistan"]

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5
5  Afghanistan  2017-2019   11.1

In [5]:
df_sous_nutrition.shape

(1218, 3)

In [6]:
df_sous_nutrition.dtypes

Zone      object
Année     object
Valeur    object
dtype: object

In [7]:
#remplacer les valeurs '<0.1' par 'nan' car nous utilisons comme population seulement les pays affectés par la sous nutrition
df_sous_nutrition.loc[df_sous_nutrition['Valeur'] == '<0.1', 'Valeur'] = np.nan
df_sous_nutrition.loc[df_sous_nutrition['Année'] == '2016-2018', 'Année'] = '2017'

In [8]:
#changer le type de variable en float
df_sous_nutrition['Valeur'] = pd.to_numeric(df_sous_nutrition['Valeur'])

In [9]:
df_sous_nutrition.describe()

           Valeur
count  504.000000
mean     6.319048
std     21.468571
min      0.100000
25%      0.500000
50%      1.600000
75%      5.100000
max    203.800000

In [10]:
#mettre les NAN en 0 
df_sous_nutrition = df_sous_nutrition.fillna(0)
df_sous_nutrition.shape

(1218, 3)

In [11]:
#Afficher les valeurs de l'année 2017

df_sous_nutrition = df_sous_nutrition.loc[df_sous_nutrition["Année"]== "2017"]
display (df_sous_nutrition)

                                        Zone Année  Valeur
4                                Afghanistan  2017    10.5
10                            Afrique du Sud  2017     3.1
16                                   Albanie  2017     0.1
22                                   Algérie  2017     1.3
28                                 Allemagne  2017     0.0
...                                      ...   ...     ...
1192  Venezuela (République bolivarienne du)  2017     8.0
1198                                Viet Nam  2017     6.5
1204                                   Yémen  2017     0.0
1210                                  Zambie  2017     0.0
1216                                Zimbabwe  2017     0.0

[203 rows x 3 columns]

In [12]:
df_sous_nutrition.dtypes

Zone       object
Année      object
Valeur    float64
dtype: object

In [13]:
df_population=df_population.loc[df_population["Année"]==2017]
display(df_population)

                                        Zone  Année     Valeur
4                                Afghanistan   2017  36296.113
10                            Afrique du Sud   2017  57009.756
16                                   Albanie   2017   2884.169
22                                   Algérie   2017  41389.189
28                                 Allemagne   2017  82658.409
...                                      ...    ...        ...
1390  Venezuela (République bolivarienne du)   2017  29402.484
1396                                Viet Nam   2017  94600.648
1402                                   Yémen   2017  27834.819
1408                                  Zambie   2017  16853.599
1414                                Zimbabwe   2017  14236.595

[236 rows x 3 columns]

In [14]:
df_population.dtypes

Zone       object
Année       int64
Valeur    float64
dtype: object

In [15]:
# Convertion pour avoir total_population_sous_nutrition
total_population_sous_nutrition= round((df_sous_nutrition['Valeur'].sum())*1000000)
display(total_population_sous_nutrition)

535700000

In [16]:
# Convertion pour avoir total_population
total_population= round((df_population['Valeur'].sum())*1000)
display(total_population)

7548134111

In [17]:
sous_nutrition=pd.merge('df_sous_nutrition','df_population', on='Valeur', how='inner')
display(proportion_population_sous_nutrition)

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [ ]:
df_population.dtypes

In [ ]:
proportion_population_sous_nutrition = round((total_population_sous_nutrition/total_population)*100,2)
print(proportion_population_sous_nutrition, "% de la population mondiale est en état de sous-nutrition")

In [ ]:
#le nombre théorique de personnes qui pourraient être nourries. Tu devrais pouvoir calculer ça à partir de la disponibilité alimentaire mondiale ;
df_dispo_alimentaire

In [ ]:
#aggrégation par pays pour avoir la somme dispo intérieure
df_dispo_alimentaire_sum=df_dispo_alimentaire.groupby('Zone').sum()
df_dispo_alimentaire_sum.head()

In [ ]:
#convertion en kg de la dispo intérieure
df_dispo_alimentaire_sum['Disponibilité intérieure']= df_dispo_alimentaire_sum['Disponibilité intérieure']*1000000
df_dispo_alimentaire_sum.head()

In [ ]:
df_dispo_alimentaire_sum=df_dispo_alimentaire_sum[['Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité alimentaire en quantité (kg/personne/an)','Disponibilité intérieure']]
df_dispo_alimentaire_sum

In [ ]:
#merge pour avoir la population totale par pays
df_population ['Valeur']=df_population['Valeur']*1000


df_dispo_alimentaire_sum_total=pd.merge(df_dispo_alimentaire_sum,df_population, on='Zone', how='right')
display(df_dispo_alimentaire_sum_total)

In [ ]:
#renommer la column 'Valeur' en 'population'
df_dispo_alimentaire_sum_total= df_dispo_alimentaire_sum_total.rename(columns= {'Valeur': 'Population'})
df_dispo_alimentaire_sum_total

In [ ]:
df_dispo_alimentaire_sum_total['resultat']= df_dispo_alimentaire_sum_total['Disponibilité intérieure']/df_dispo_alimentaire_sum_total['Disponibilité alimentaire en quantité (kg/personne/an)']
df_dispo_alimentaire_sum_total